body {
    color:blanchedalmond;
    background:black;
    margin: 1px;
    font-family: "Jacquard 12", system-ui;
}

header{
    border-bottom: solid 2px brown;
    padding: 20px;
    font-size: 32px;
    color: brown;
}

.chamada{
    background:  rgb(123, 12, 49);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

img{
    height: 200px;
}
.categoria-videos img{
    opacity: 0.5;
    height: 200px;
    display: flex;
    overflow-x: auto;
    gap: 15px;
}
    
.categoria-videos img:hover {
    opacity: 1.0;

}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}